/* 
    Created on : 05 21, 21, 9:34:38 PM
    Author     : Marylaine Lumacad
*/
.slidecontainer {
    width: 25%;
    margin-left: 37.5%;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 35px; /* Set a specific slider handle width */
    height: 35px; /* Slider handle height */
    background: url('../Images/starr.png'); /* Green background */
    background-size: cover;
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 35px; /* Set a specific slider handle width */
    height: 35px; /* Slider handle height */
    background: url('../Images/starr.png'); /* Green background */
    background-size: cover;
    cursor: pointer; /* Cursor on hover */
}



.accordion-button {
    background-color: beige;
}
.accordion-body {
    background-color: beige;
}

.accordion-button:not(.collapsed) {
    color: brown;
}

.accent-color {
    background-color: #6f4e37;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #F0E7DE;
}

.dropdown-menu {
    background-color: #6f4e37;
}

#about-us-dropdown-menu a:hover {
    background-color: #808080;
}

#shop-dropdown-menu a:hover {
    background-color: #808080;
}

#login-dropdown-menu :hover {
    background-color: #808080;
}