/* 
    Created on : 05 21, 21, 9:34:38 PM
    Author     : Marylaine Lumacad
*/
.slider {
  /*-webkit-appearance: none;*/
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: url('contrasticon.png');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background: url('contrasticon.png');
  cursor: pointer;
}

.accordion-button {
	background-color: beige;
}
.accordion-body {
	background-color: beige;
}

.accordion-button:not(.collapsed) {
	color: brown;
}

.accent-color {
    background-color: #6f4e37;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #F0E7DE;
}

.dropdown-menu {
    background-color: #6f4e37;
}

#about-us-dropdown-menu a:hover {
    background-color: #808080;
}

#shop-dropdown-menu a:hover {
    background-color: #808080;
}

#login-dropdown-menu a:hover {
    background-color: #808080;
}