.accent-color {
    background-color: #C19A6B;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #F0E7DE;
}

.dropdown-menu {
    background-color: #C19A6B;
}

#shop-dropdown-menu a:hover {
    background-color: #F0E7DE;
}

.nav-link {
    color: #212529;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #c19a6b;
}

.nav-link:hover {
    color: #c19a6b;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #c19a6b;
}