.accent-color {
    background-color: #C19A6B;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #F0E7DE;
}

.dropdown-menu {
    background-color: #C19A6B;
}

#about-us-dropdown-menu a:hover {
    background-color: #F0E7DE;
}

#shop-dropdown-menu a:hover {
    background-color: #F0E7DE;
}

#login-dropdown-menu a:hover {
    background-color: #F0E7DE;
}

#list-group-border {
    max-height: 300px;
    margin-bottom: 10px;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
}

.list-group-item {
    background-color: burlywood;
}

